FilmsManage/.vs/
FilmsManage/FilmsManage/bin/
FilmsManage/FilmsManage/obj/
# Thư mục Visual Studio tạm thời
.vs/

# Thư mục output build
bin/
obj/

# Các tệp DLL, PDB, EXE
*.dll
*.pdb
*.exe

# Tệp metadata tạm thời
*.cache
*.v9.bin
